
Project Pertama - Aditheo Firman Saputra/Library/* 
Project Pertama - Aditheo Firman Saputra/Logs/* 
Project Pertama - Aditheo Firman Saputra/Temp/* 
 
Project Pertama - Aditheo Firman Saputra/.vsconfig
Project Pertama - Aditheo Firman Saputra/*.sln 